body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #ab987a;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Playfair Display',Gerogia,Times,'Times New Roman',serif;
}

.fadeout {
  opacity: 0;
  transition: 3s ease-in-out;
  -webkit-transition: 3s ease-in-out;
  }
.fadein {
  opacity: 1;
  transition: 3s ease-in-out;
  -webkit-transition: 3s ease-in-out;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color : white; 
  opacity: 0.8;
  z-index: 99;
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 10px;
}
  
#global-navi {
  float:right;
}
header nav ul li{
  height: 50px;
  display:inline-block;
  font-size: 22px;
  margin: 20px 15px 15px 15px;
}

header p{
  width: 30%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 30px;
  color: black;
  font-weight: bold;

  /*位置の設定 - 上下中央寄せ*/
  position: absolute;
  margin: auto;
  padding: 5px;
  top: 0;
  bottom: 0;
}
.wrapper {
  flex: 1;
}
.maingadget {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0px;
}
.imagelinkgadget {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0px;
}
.mainImageWrapper {
  width: 100%;
  margin: 0%;
  position: relative;
}
.mainImageWrapper img {
  width: 100%;
  height:auto;
}
.mainImageWrapper p{
  width: 100%;
  text-align: right;
  position: absolute;/*絶対配置*/
  color: Black;/*文字は白に*/
  text-shadow:0 0 10px white;
  top: 90%;
  left: 90%;
  -ms-transform: translate(-90%,-90%);
  -webkit-transform: translate(-90%,-90%);
  transform: translate(-90%,-90%);
  font-size: 50px;
  margin: 0;
  padding: 0%;
  padding-right: 10%;
}
.imgImageWrapper {
  width: 100%;
  margin: 5%;
  overflow:hidden; 
}

.imgImageWrapper img {
  width: 100%;
  height:auto;
  transition:1.1s all;
}

.imgImageWrapper a:hover img {
  width: 100%;
  opacity: 0.7;
  transform:scale(1.1,1.1);
  transition:1.6s all;
}

.imgImageWrapper p{
  width: 100%;
  text-align: right;
  color: black;/*文字は白に*/
  position: absolute;
  text-shadow:0 0 10px white;
  font-size: 24px;
  margin: 0;
  padding: 0%;
  padding-right: 10%;
}

/*
.imgImageWrapper p{
  width: 100%;
  text-align: right;
  position: absolute;
  color: black;
  text-shadow:0 0 10px white;
  top: 90%;
  left: 90%;
  -ms-transform: translate(-90%,-90%);
  -webkit-transform: translate(-90%,-90%);
  transform: translate(-90%,-90%);
  font-size: 50px;
  margin: 0;
  padding: 0%;
  padding-right: 10%;
}
*/



.grayscale img{
  filter: grayscale(100%);
}

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(41, 38, 58)
}
.foot li {
  padding: 5px;
}
a {
  color: #ab987a;
}
a:hover {
  color: #ab987a;
}
a:active {
  color: #ab987a;
}

@media (max-width:768px) {
  .imagelinkgadget {
    flex-direction: column;
  }
  .maingadget {
    width:100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .mainImageWrapper {
    width:100%;
    margin-bottom: 20px;
    margin:0 auto;
  }  
  .imgImageWrapper {
    width:90%;
    margin-bottom: 20px;
    margin:0 auto;
  }
  .imgImageWrapper img {
    width:100%;
    height:auto;
  }
}