.intro_wrapper {
  width:570px;
  margin: 0 auto;
  text-align:left;
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 5%;
}

.description {
  width: 100%;
  margin:0 auto;
}

.contents_wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  font-size: 16px;
  margin:0 8%;
  margin-bottom: 20px;
}

.sub_contents_wrapper {
  margin-bottom: 70px;
  display: flex;
  justify-content:center;
}

.sub_contents_wrapper:nth-of-type(4) {
  flex-direction: row-reverse;
}

.image_wrapper {
  width: 40%;
  height:auto;
  margin-left: 2%;
  margin-right: 2%;
}

.image_wrapper img {
  width: 100%;
  height:auto;
}

.sentence_wrapper {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.one_contents_wrapper {
  display: block;
  margin-left: 3%;
}
.one_contents_wrapper  h4{
  display: block;
  margin-left: 0%;
}

h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 3%;
  text-align: left;
}
.img_description p {
  text-align: left;

}

@media (max-width:768px) {
  .img_content_wrapper {
    text-align: center;
    width: 80%;
    margin:0 auto;
  }
  h4 {
    text-align: center;
  }
  .img_description p {
    text-align: left;
  }
  .img_image_wrapper {
    width:100%;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .img_image_wrapper img {
    width:100%;
    height:auto;
  }

}