.wrapper {
  flex: 1;
  padding-top: 140px;
}

.introwrapper {
  width:570px;
  margin: 0 auto;
  text-align:left;
  line-height: 1.5em;
  font-size: 16px;
  padding-top: 5%;
  margin-bottom: 5%;
}

.Description {
  width: 100%;
  margin:0 auto;
}

.ContentsWrapper {
  display: flex;
  line-height: 1.5em;
  font-size: 16px;
  margin:0 8%;
  margin-bottom: 40px;
}

.SubContentsWrapper {
  margin: 0 20px;
}

.ImageWrapper {
  width: 100%;
  height:auto;
  margin-bottom: 20px;
}

.ImageWrapper img {
  width: 100%;
  height:auto;
}

.SentenceWrapper {
  width: 100%;
}

.OneContentsWrapper {
  display: block;
  margin:0 auto;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}
.imgDescription p {
  text-align: left;

}

@media (max-width:768px) {
  .imagelinkgadget {
    flex-direction: column;
  }
  .imagelinkgadget:nth-child(even) {
    flex-direction: column;
  }
  .imgContentWrapper {
    text-align: center;
    width: 80%;
    margin:0 auto;
  }
  h4 {
    text-align: center;
  }
  .imgDescription p {
    text-align: left;
  }
  .imgImageWrapper {
    width:100%;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .imgImageWrapper img {
    width:100%;
    height:auto;
  }

}