body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* start header */
header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color : white; 
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;

}

.logo {
  color: black;
  font-weight: bold;
  text-align: center;
}

.englishname {
  width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 40px;
  margin:0;
  margin-bottom: 5px;
  font-size:40px;
  font-family: 'Dancing Script', cursive;
  /*位置の設定 - 上下中央寄せ*/
  position: static;
}

.japanesename {
  width: 300px; 
  height: 30px;
  margin:0;
  font-size:20px;
  letter-spacing: 10px;
  position: static;
}

.contactbtn{
  font-size:36px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}
.tel {
  font-size:22px;
}
.Linkpath {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-weight: bold;
  padding:0;
  Top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.global-navi {
  width: 100%;
  margin: auto;
  padding: 0px;
}
.global-navi ul{
  margin:0 auto;
  list-style:none;
  display:flex;
}
.global-navi ul li{
  display: flex;
  background-color: #1d1d1d;
  opacity: 1;
  text-align:center;
  align-items: stretch;
  width:20%;
  font-size: 20px;
}

.global-navi ul li:hover {
  background-color: white;
  color: #1d1d1d;
}
.global-navi a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.global-navi a:hover {
  color: black
}
.global-navi a:active {
  color: black;
}
/* end header */

/* start footer */

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
  background-color: black;
  color: white;
  margin-top: 10%;
}
.foot li {
  padding-bottom: 10px;
}
.foot a {
  color: white;
}
.foot a:hover {
  color: white
}
.foot a:active {
  color: white;
}
/* end footer */

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

/*Lightbox */
.lb-cancel {
  background: url(../js/plugin/lightbox/images/loading.gif) no-repeat;
}
.lb-nav a.lb-prev { 
  width: 50%;
  background: url(../js/plugin/lightbox/images/prev.png) left 48% no-repeat;
}
.lb-nav a.lb-next { 
  width: 50%;
  background: url(../js/plugin/lightbox/images/next.png) right 48% no-repeat;
}
.lb-data .lb-close {
  background: url(../js/plugin/lightbox/images/close.png) top right no-repeat;
}
/*Lightbox */

.wrapper {
  flex: 1;
  padding-top: 140px;
}

.intro {
  padding-top: 5%;
  margin-bottom: 5%;
}

.introwrapper {
  width:570px;
  margin: 0 auto;
  text-align:left;
  font-size: 15px;
}

.Description {
  width: 80%;
  margin:0 auto;
}

.contentsgroup {
  margin-top:40px;
  margin-bottom:40px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.imgcontents{
	display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}
.imgcontents li {
  display: flex;
	width: 20%;/*←画像を横に4つ並べる場合*/
  margin: 10px;
  box-sizing:border-box;
}

.imgcontents li img {
	max-width:90%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}

.imgcontents li a {
  margin: auto auto;
  justify-content: center;
  text-align: center;
}

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
  background-color: black;
  color: white;
  margin-top: 10%;
}
.foot li {
  padding-bottom: 10px;
}
.foot a {
  color: white;
}
.foot a:hover {
  color: white
}
.foot a:active {
  color: white;
}

@media (max-width:768px) {

  .introwrapper {
    width:400px;
    margin: 0 auto;
    text-align:left;
    font-size: 15px;
  }

  .imgcontents{
    margin-left: 10px;
    margin-right: 10px;
  }
  .imgcontents li {
    width: 40%;
  }

  /* start header */
  .englishname {
    width: 250px; 
    height: 35px;
    font-size:34px;
  }
  .japanesename {
    width: 250px; 
    height: 20px;
    font-size:15px;
    letter-spacing: 7px;
  }
  .contactbtn{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .Linkpath {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }
  .global-navi ul{
    flex-direction: column; 
  }
  .global-navi ul li{
    background-color: #1d1d1d;
    width:100%;
    font-size: 20px;
    min-height: 56px;
  }
  .global-navi ul li a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  /* end header */
}