body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: black;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Playfair Display',Gerogia,Times,'Times New Roman',serif;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color : white; 
  opacity: 0.8;
  z-index: 99;
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 10px;
}
  
#global-navi {
  float:right;
}
header nav ul li{
  height: 50px;
  display:inline-block;
  font-size: 22px;
  margin: 20px 15px 15px 15px;
}

header p{
  width: 30%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 30px;
  color: black;
  font-weight: bold;

  /*位置の設定 - 上下中央寄せ*/
  position: absolute;
  margin: auto;
  padding: 5px;
  top: 0;
  bottom: 0;
}

.wrapper {
  flex: 1;
  padding-top: 100px;
}

.imagelinkgadget {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  padding: 2px;
}

.imgContentWrapper {
  width: 50%;
  margin: 3%;
}

h4 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}
.imgDescription p {
  text-align: left;
  font-size: 16px;
}

.imgImageWrapper {
  width: 50%;
  margin: 0%;
}

.imgImageWrapper img {
  width: 100%;
  height:auto;
}

.imagelinkgadget:nth-child(even) {
  flex-direction: row-reverse;
}
.imagelinkgadget:nth-child(even) .imgContentWrapper {
  text-align: right;
}
.imagelinkgadget:nth-child(even) .imgImageWrapper {
  margin-left: 0%;
  margin-right: 0%;
}

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(41, 38, 58)
}
.foot li {
  padding: 5px;
}
a {
  color: #ab987a;
}
a:hover {
  color: #ab987a;
}
a:active {
  color: #ab987a;
}

@media (max-width:768px) {
  .imagelinkgadget {
    flex-direction: column;
  }
  .imagelinkgadget:nth-child(even) {
    flex-direction: column;
  }
  .imgContentWrapper {
    text-align: center;
    width: 80%;
    margin:0 auto;
  }
  h4 {
    text-align: center;
  }
  .imgDescription p {
    text-align: left;
  }
  .imagelinkgadget:nth-child(even) .imgContentWrapper {
    text-align: center;
  }
  .imgImageWrapper {
    width:100%;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .imagelinkgadget:nth-child(even) .imgImageWrapper {
    margin-left: 0;
    margin-right: 0%;
  }
  .imgImageWrapper img {
    width:100%;
    height:auto;
  }
}