/* slider */

.slider img {
	width: 100%;
	height: auto;
}

.thumb-item {
	max-width: 850px;
	margin: 0 auto 5px;
	padding: 0 5px;
}
.thumb-item-nav {
	max-width: 850px;
	margin: 0 auto;
	cursor:pointer;
}
.thumb-item-nav li{
	margin: 3px;
}

/*左右の矢印の位置*/
.slide-arrow{
  position: absolute;
  font-size: 50px;
  cursor:pointer;
}
.prev-arrow {
  left: -40px;
  top: 50%;
	z-index: 90;
}
.next-arrow {
  right: -40px;
  top: 50%;
	z-index: 90;
}

/*左右の矢印の色*/
.slick-prev:before,
.slick-next:before {
	color: #000;
}

/* slider */

.contents_group {
  margin-bottom:40px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}


.showroom_link {
  color: #0000EE;
  text-decoration: underline;
}

.showroom_link:active {
  color: #FF0000;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  .slide-arrow{
    font-size: 40px;
  }
  .prev-arrow {
    left: -20px;
  }
  .next-arrow {
    right: -20px;
  }
  .all_image_wrapper {
    margin:0 4%;
  }
}

@media screen and (max-width:768px) {

  .slide-arrow{
    font-size: 30px;
  }
  .prev-arrow {
    left: 8px;
  }
  .next-arrow {
    right: 8px;
  }

}

@media (orientation: landscape) and (max-width: 820px){

  .thumb-item {
    max-width: 100vh;
  }
  .thumb-item-nav {
    max-width: 100vh;
  }

  .slide-arrow{
    font-size: 30px;
  }
  .prev-arrow {
    left: 8px;
  }
  .next-arrow {
    right: 8px;
  }

}
