/* slider */

.slider img {
	width: 100%;
	height: auto;
}

.thumb-item {
	max-width: 850px;
	margin: 0 auto 5px;
	padding: 0 5px;
}
.thumb-item-nav {
	max-width: 850px;
	margin: 0 auto;
	cursor:pointer;
}
.thumb-item-nav li{
	margin: 3px;
}

/*左右の矢印の位置*/
.slide-arrow{
  position: absolute;
  font-size: 50px;
}
.prev-arrow {
  left: -40px;
  top: -300px;
	z-index: 90;
}
.next-arrow {
  right: -40px;
  top: -300px;
	z-index: 90;
}

/*左右の矢印の色*/
.slick-prev:before,
.slick-next:before {
	color: #000;
}

/* slider */

.contents_group {
  margin-bottom:40px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.img_contents{
	display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}
.img_contents li {
  display: flex;
	width: 20%;/*←画像を横に4つ並べる場合*/
  margin: 10px;
  box-sizing:border-box;
}

.img_contents li img {
	max-width:90%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}

.img_contents li a {
  margin: auto auto;
  justify-content: center;
  text-align: center;
}

.showroom_link {
  color: #0000EE;
  text-decoration: underline;
}

.showroom_link:active {
  color: #FF0000;
  text-decoration: underline;
}

@media (max-width:768px) {

  .intro_wrapper {
    width:400px;
    margin: 0 auto;
    text-align:left;
    font-size: 15px;
  }

  .img_contents{
    margin-left: 10px;
    margin-right: 10px;
  }
  .img_contents li {
    width: 40%;
  }

}