.contents_wrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin:0 8%;
  margin-bottom: 20px;
}

.sub_contents_wrapper {
  margin-bottom: 70px;
  display: flex;
  justify-content:center;
}

.sub_contents_wrapper:nth-of-type(4) {
  flex-direction: row-reverse;
}

.image_wrapper {
  width: 40%;
  height:auto;
  margin-left: 2%;
  margin-right: 2%;
}

.image_wrapper img {
  width: 100%;
  height:auto;
}

.sentence_wrapper {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.one_contents_wrapper {
  display: block;
  margin-left: 3%;
}
.one_contents_wrapper  h4{
  display: block;
  margin-left: 0%;
}

h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 3%;
  text-align: left;
}
.img_description p {
  text-align: left;

}

@media screen and (max-width:768px) {
  h4 {
    text-align: center;
    font-size: 1.4em;
  }
  .img_description p {
    text-align: left;
  }

  .sub_contents_wrapper {
    flex-direction: column;
  }
  
  .sub_contents_wrapper:nth-of-type(4) {
    flex-direction: column;
  }
  
  .image_wrapper {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 30px;
  }
  
  .sentence_wrapper {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 820px){

  h4 {
    text-align: center;
    font-size: 1.4em;
  }
  .img_description p {
    text-align: left;
  }

  .sub_contents_wrapper {
    flex-direction: column;
  }
  
  .sub_contents_wrapper:nth-of-type(4) {
    flex-direction: column;
  }
  
  .image_wrapper {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 30px;
  }
  
  .sentence_wrapper {
    width: 100%;
  }
}


@media screen and (max-width: 480px) { 
  h4 {
    text-align: center;
    font-size: 1.2em;
  }
}