/*
#spotlight .arrow-left{
  button arrow left
  background-color: transparent;
}
#spotlight .arrow-right{
  button arrow right
  background-color: transparent;
}
*/
#spotlight .arrow {
  width: 60px;
  height: 60px;
  background-size: 50px;
}

.contents_group {
  margin-bottom:40px;
}

.img_contents {
	display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
}
.img_contents li {
  display: flex;
	width: 20%;/*←画像を横に4つ並べる場合*/
  margin: 10px;
  border-radius: 8px;
  box-sizing:border-box;
  display: block;
  box-shadow: 0 5px 10px #666666;
}

.img_contents li img {
  display: block;
  border-radius: 8px;
	max-width:100%; /*画像のはみだしを防ぐ*/
  height: auto; /*画像の縦横比を維持 */
  
}

.img_contents li a {
  margin: auto auto;
  justify-content: center;
  text-align: center;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}


.showroom_link {
  color: #0000EE;
  text-decoration: underline;
}

.showroom_link:active {
  color: #FF0000;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {

  .all_image_wrapper {
    margin:0 4%;
  }
  .img_contents {
    margin-left: 100px;
    margin-right: 100px;
  }
  
}

@media screen and (max-width:768px) {

  #spotlight .arrow {
    width: 50px;
    height: 50px;
    background-size: 30px;
  }

  .img_contents {
    margin-left: 10px;
    margin-right: 10px;
  }
  .img_contents li {
    width: 40%;
  }

}

@media (orientation: landscape) and (max-width: 820px){



}
