/*Lightbox */
.lb-cancel {
  background: url(../js/plugin/lightbox/images/loading.gif) no-repeat;
}
.lb-nav a.lb-prev { 
  width: 50%;
  background: url(../js/plugin/lightbox/images/prev.png) left 48% no-repeat;
}
.lb-nav a.lb-next { 
  width: 50%;
  background: url(../js/plugin/lightbox/images/next.png) right 48% no-repeat;
}
.lb-data .lb-close {
  background: url(../js/plugin/lightbox/images/close.png) top right no-repeat;
}
/*Lightbox */

.wrapper {
  flex: 1;
  padding-top: 140px;
}

.intro {
  padding-top: 5%;
  margin-bottom: 5%;
}

.intro_wrapper {
  width:570px;
  margin: 0 auto;
  text-align:left;
  font-size: 15px;
}

.description {
  width: 80%;
  margin:0 auto;
}

.contents_group {
  margin-top:40px;
  margin-bottom:40px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.img_contents{
	display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}
.img_contents li {
  display: flex;
	width: 20%;/*←画像を横に4つ並べる場合*/
  margin: 10px;
  box-sizing:border-box;
}

.img_contents li img {
	max-width:90%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}

.img_contents li a {
  margin: auto auto;
  justify-content: center;
  text-align: center;
}


@media (max-width:768px) {

  .intro_wrapper {
    width:400px;
    margin: 0 auto;
    text-align:left;
    font-size: 15px;
  }

  .img_contents{
    margin-left: 10px;
    margin-right: 10px;
  }
  .img_contents li {
    width: 40%;
  }

}