body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",YuGothic,"Yu Gothic";
}

/* start header */
header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
}

.logo_wrapper {
  height: auto;
  width: 100%;
  background-color : white; 
  border-bottom: none ;
  padding-bottom: 2px;
}
.logo {
  width: 100%;
  margin : 0 auto;
}

.logo_wrapper img{
  width: 300px;
  height: auto;
}


.contact_btn {
  font-size:36px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}
.tel {
  font-size:22px;
}
.link_path {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-weight: bold;
  padding:0;
  Top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.global_navi_wrapper {
  opacity: 1;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.9); 
  transition: opacity .5s, visibility .5s, padding-top .5s,line-height .5s, background-color 1s;
}

.global_navi_wrapper.show {
  opacity: 1;
  visibility: visible;
}

.global_navi {
    width: 100%;
    margin: auto;
    padding: 0px;
    border-bottom: 1px solid #1d1d1d;
}

.global_navi ul{
    margin:0 auto;
    list-style:none;
    display:flex;
}
.global_navi ul li{
    display: flex;
    opacity: 1;
    text-align:center;
    align-items: stretch;
    width:25%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color:#7e7e7e;
}

.global_navi ul li:hover {
    background-color: white;
    color: #1d1d1d;
}
.global_navi ul li a {
    color:#a7a7a7;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.global_navi ul li a:hover {
    color: black
}
.global_navi ul li a:active {
    color: black;
}

.global_navi ul li.global_navi-item-active a{
  color: #1d1d1d;
}

.global_navi ul li.global_navi-item-active a div.radius-underline div{
  padding-bottom: 3%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 12rem;
}

.global_navi ul li.global_navi-item-active a div.radius-underline:after {
  background-color: #1d1d1d;
  border-radius: 2px;
  content: "";
  display: block;
  height: 4px;
  width: auto;
}
/* end header */
  
/* start footer */

footer {
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 25px 0 10px;
    background-color: #adadad;
    color: white;
    margin-top: 10%;
    position:absolute;
    bottom:0;
}
.foot_wrapper {
  display: flex;
  justify-content: center;
}
.foot_content{
  padding: 0 12px;
}
.foot_sns_wrapper {
  padding: 0 12px;
}

.foot_wrapper .sns_wrapper {
  margin: 0 auto;
  display:flex;
  flex-direction: column; 
}

.foot_wrapper .sns_wrapper a{
  text-align: left;
}
.foot_wrapper .sns_wrapper i{
  color: #585858;
}


.foot li {
    padding: 8px;
}
.foot a {
    color: white;
}
.foot a:hover {
    color: white
}
.foot a:active {
    color: white;
}
footer p {
  font-size: 15px;
  text-align: center;
  padding-right: 10px;
}

/* end footer */


.wrapper {
  padding-top:230px;
  position:relative;
  min-height: 100vh;
  padding-bottom:200px;
}

.wrapper_title{
  text-align: center;
  font-size:2em;
  margin-bottom: 3%;
  width: auto;
}
.wrapper_title span{
  font-weight: bold;
}

.intro_wrapper {
  max-width:570px;
  margin: 0 auto;
  text-align:left;
  font-size: 16px;
  margin-bottom: 50px;
}

.description {
  width: 100%;
  margin:0 auto;
}

p {
  line-height: 1.8em;
  font-size: 16px;
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

.nav_toggle {
  visibility: hidden;
  display: block;
  position: fixed;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 100;
  top:15px;
  right:15px;
}
.nav_toggle i {
  display: block;
  width: 100%;
  margin:auto;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i {
  font-size: 34px;
}

.nav_toggle .fa-bars {
  display: block;
}

.nav_toggle .fa-times {
  display: none;
}

.nav_toggle.show .fa-bars {
  display: none;
}
.nav_toggle.show .fa-times {
  display: block;
  color: white;
  z-index: 100;
}

.sns_wrapper {
  margin:0 auto;
  display:none;
}


.sns_wrapper i{
  font-size:16px;
  padding:8px;
  border-radius: 10px;
}
.fa-instagram {
}

.fa-twitter {
}

.fa-facebook {
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-top:100px;
  }

  .logo_wrapper {
    border-bottom: solid 1px gray ;
  }

  .global_navi_wrapper {
    opacity: 0;
    visibility: hidden;  
    z-index: 99;
    position: absolute;
    height: 100vh;
    width:auto;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .global_navi_wrapper.is-hidden {
    width:auto;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    pointer-events: none;
    background-color : transparent; 
    position:absolute;
    top:-9999;
  }

  .global_navi {
    padding-top: 60px;
    padding-bottom: 100px;
    border-bottom: none;
  }

  .global_navi ul{
    flex-direction: column; 
  }
  .global_navi ul li{
    width:100%;
  }
  .global_navi ul li:hover {
    background-color: white;
    color:black;
  }

  .global_navi ul li a {
    color:white;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: left;
    text-align:left;
    display: flex;
    width: 100%;
    padding: 15px 20px;
  }

  .global_navi ul li a:active {
    color: #1d1d1d;
  }

  .global_navi ul li.global_navi-item-active a{
    color: #1d1d1d;
  }

  .global_navi ul li.global_navi-item-active a div.radius-underline div{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .global_navi ul li.global_navi-item-active a {
    color: white;
  }

  .global_navi ul li.global_navi-item-active a:hover{
    color: black;
  }

  .global_navi ul li.global_navi-item-active a div.radius-underline:after {
    background-color: white;
  }

  .global_navi ul li.global_navi-item-active a:hover div.radius-underline:after {
    background-color: black;
  }

  .nav_toggle {
    visibility: visible;
  }

  .copyright_wrapper {
    width:100%;
    position: absolute;
    bottom: 10px;
  }

  .sns_wrapper {
    margin:0 auto;
    margin-bottom: 40px;
    display:flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .sns_wrapper a {
    text-align:center;
  }
  
  .sns_wrapper i{
    font-size:16px;
    color: #8f8f8f;
    border-radius: 10px;
    text-align:left;
  }
  .fa-instagram {
    width:30px;
    text-align:center;
    font-weight: 800;
  }
  
  .fa-twitter {
    width:30px;
  }
  
  .fa-facebook-f {
    width:30px;
  }
  .snstext{
    color:white;
  }

}

@media screen and (max-width:768px) {
  /* start header */

  .logo_wrapper {
    border-bottom: solid 1px gray ;
  }

  .logo_wrapper img{
    width: 250px;
    height: auto;
  }
  .contact_btn i{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .link_path {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }


  /* end header */

  .wrapper_title{
    text-align: center;
    font-size:1.5em;
    margin-bottom: 3%;
    width: auto;
  }

  .intro_wrapper {
    padding:0 8%;
    margin:0 auto;
    margin-bottom: 50px;
  }
}

@media (orientation: landscape) and (max-width: 820px){

  .logo_wrapper img{
    width: 250px;
    height: auto;
  }

  .global_navi_wrapper {
    width:100vw;
  }

  .global_navi_wrapper.is-hidden {
    width:100vw;
  }

  .global_navi {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: none;
  }

  .global_navi ul{
    flex-direction: row; 
    flex-wrap: wrap;
  }
  .global_navi ul li{
    width:50%;
  }
  .global_navi ul li a{
    font-size: 16px;
    padding: 10px 10px;
  }


  footer p {
    text-align:center;
  }

  .wrapper_title{
    text-align: center;
    font-size:1.5em;
    margin-bottom: 3%;
    width: auto;
  }

  .intro_wrapper {
    padding:0 8%;
    margin:0 auto;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 480px) { 

  .global_navi {
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: none;
  }

  .global_navi ul li a {
    font-size: 16px;
    padding: 10px 10px;
  }


  p {
    line-height: 1.6em;
    font-size: 14px;
  }

  footer p {
    font-size: 12px;
    text-align:center;
    padding-right: 10px;
  }

  .wrapper_title{
    text-align: center;
    font-size:1.2em;
  }

}