body {
    margin: 0;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.979);
    color: #242424;
    flex-flow: column;
    min-height: 100vh;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",YuGothic,"Yu Gothic";
  }

/* start header */
header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color : white; 
    z-index: 99;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  
.logo {
    color: black;
    font-weight: bold;
    text-align: center;
}

.englishName {
    width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
    height: 40px;
    margin:0;
    margin-bottom: 5px;
    font-size:40px;
    font-family: 'Dancing Script', cursive;
    position: static;
}

.japaneseName {
    width: 300px; 
    height: 30px;
    margin:0;
    font-size:20px;
    letter-spacing: 10px;
    position: static;
}

.contact_btn {
    font-size:36px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}
.tel {
    font-size:22px;
}
.link_path {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    font-weight: bold;
    padding:0;
    Top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.global_navi {
    width: 100%;
    margin: auto;
    padding: 0px;
    border-bottom: 1px solid #1d1d1d;
}
.global_navi ul{
    margin:0 auto;
    list-style:none;
    display:flex;
}
.global_navi ul li{
    display: flex;
    opacity: 1;
    text-align:center;
    align-items: stretch;
    width:25%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color:#7e7e7e;
}

.global_navi ul li:hover {
    background-color: white;
    color: #1d1d1d;
}
.global_navi a {
    color:#a7a7a7;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.global_navi a:hover {
    color: black
}
.global_navi a:active {
    color: black;
}

.global_navi ul li.global_navi-item-active a{
  color: #1d1d1d;
}

.global_navi ul li.global_navi-item-active a div.radius-underline div{
  padding-bottom: 3%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 12rem;
}

.global_navi ul li.global_navi-item-active a div.radius-underline:after {
  background-color: #1d1d1d;
  border-radius: 2px;
  content: "";
  display: block;
  height: 4px;
  width: auto;
}
/* end header */
  
/* start footer */

footer {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 25px 0;
    background-color: black;
    color: white;
    margin-top: 10%;
    position:absolute;
    bottom:0;
}
.foot li {
    padding-bottom: 10px;
}
.foot a {
    color: white;
}
.foot a:hover {
    color: white
}
.foot a:active {
    color: white;
}
/* end footer */


.wrapper {
    padding-top:230px;
    position:relative;
    min-height: 100vh;
    padding-bottom:200px;
}

.wrapper_title{
  text-align: center;
  font-size:2em;
  margin-bottom: 3%;
  width: auto;
}
.wrapper_title span{
  font-weight: bold;
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

@media (max-width:768px) {
  /* start header */
  .englishName {
    width: 250px; 
    height: 35px;
    font-size:34px;
  }
  .japaneseName {
    width: 250px; 
    height: 20px;
    font-size:15px;
    letter-spacing: 7px;
  }
  .contact_btn i{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .link_path {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }
  .global_navi ul{
    flex-direction: column; 
  }
  .global_navi ul li{
    width:100%;
    font-size: 20px;
    min-height: 56px;
  }
  .global_navi ul li a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  /* end header */
}