body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",YuGothic,"Yu Gothic";
}

/* start header */
header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
}

.logo_wrapper {
  height: auto;
  width: 100%;
  background-color : white; 
  padding-bottom: 4px;
}
.logo {
  color: black;
  font-weight: bold;
  text-align: center;
}

.englishName {
  width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: auto;
  margin:0;
  margin-bottom: 5px;
  font-size:40px;
  font-family: 'Dancing Script', cursive;
  position: static;
}

.japaneseName {
  width: 300px; 
  height: auto;
  margin:0;
  font-size:20px;
  letter-spacing: 10px;
  position: static;
}

.contact_btn {
  font-size:36px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}
.tel {
  font-size:22px;
}
.link_path {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-weight: bold;
  padding:0;
  Top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.global_navi_wrapper {
  opacity: 1;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.9); 
  transition: opacity .5s, visibility .5s, padding-top .5s,line-height .5s, background-color 1s;
}

.global_navi_wrapper.show {
  opacity: 1;
  visibility: visible;
}

.global_navi {
    width: 100%;
    margin: auto;
    padding: 0px;
    border-bottom: 1px solid #1d1d1d;
}

.global_navi ul{
    margin:0 auto;
    list-style:none;
    display:flex;
}
.global_navi ul li{
    display: flex;
    opacity: 1;
    text-align:center;
    align-items: stretch;
    width:25%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    color:#7e7e7e;
}

.global_navi ul li:hover {
    background-color: white;
    color: #1d1d1d;
}
.global_navi ul li a {
    color:#a7a7a7;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.global_navi ul li a:hover {
    color: black
}
.global_navi ul li a:active {
    color: black;
}

.global_navi ul li.global_navi-item-active a{
  color: #1d1d1d;
}

.global_navi ul li.global_navi-item-active a div.radius-underline div{
  padding-bottom: 3%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 12rem;
}

.global_navi ul li.global_navi-item-active a div.radius-underline:after {
  background-color: #1d1d1d;
  border-radius: 2px;
  content: "";
  display: block;
  height: 4px;
  width: auto;
}
/* end header */
  
/* start footer */

footer {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 25px 0 10px;
    background-color: black;
    color: white;
    margin-top: 10%;
    position:absolute;
    bottom:0;
}
.foot li {
    padding-bottom: 10px;
}
.foot a {
    color: white;
}
.foot a:hover {
    color: white
}
.foot a:active {
    color: white;
}
footer p {
  font-size: 15px;
  text-align:right;
  padding-right: 10px;
}
/* end footer */


.wrapper {
  padding-top:230px;
  position:relative;
  min-height: 100vh;
  padding-bottom:200px;
}

.wrapper_title{
  text-align: center;
  font-size:2em;
  margin-bottom: 3%;
  width: auto;
}
.wrapper_title span{
  font-weight: bold;
}

.intro_wrapper {
  max-width:570px;
  margin: 0 auto;
  text-align:left;
  font-size: 16px;
  margin-bottom: 50px;
}

.description {
  width: 100%;
  margin:0 auto;
}

p {
  line-height: 1.8em;
  font-size: 16px;
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

.nav_toggle {
  visibility: hidden;
  display: block;
  position: absolute;
  width: 1.75rem;
  height: 1.5rem;
  z-index: 100;
  top:15px;
  right:15px;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
  box-shadow:0 0 2px white;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}


.sns_wrapper {
  margin:0 auto;
  display:none;
  justify-content: center;
}

.sns_wrapper a{
  margin:0 8px;
}

.sns_wrapper i{
  font-size:30px;
  padding:8px;
  color: white;
  border-radius: 10px;
}
.fa-instagram {
  background-color:#e1306c;
  width:46px;
  text-align:center;
}

.fa-twitter {
  background-color:#55acee;
}

.fa-facebook {
  background-color:#315096;
}

@media (max-width: 1020px) {
  .wrapper {
    padding-top:100px;
  }

  .global_navi_wrapper {
    opacity: 0;
    visibility: hidden;  
    z-index: 99;
    position: absolute;
    height: 100vh;
    width:auto;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .global_navi_wrapper.is-hidden {
    width:auto;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    pointer-events: none;
    background-color : transparent; 
    position:absolute;
    top:-9999;
  }

  .global_navi {
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: none;
  }

  .global_navi ul{
    flex-direction: column; 
  }
  .global_navi ul li{
    width:100%;
  }
  .global_navi ul li:hover {
    background-color: white;
    color:black;
  }

  .global_navi ul li a {
    color:white;
    font-size: 24px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 20px 25px;
  }

  .global_navi ul li a:active {
    color: #1d1d1d;
  }

  .global_navi ul li.global_navi-item-active a{
    color: #1d1d1d;
  }

  .global_navi ul li.global_navi-item-active a div.radius-underline div{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .global_navi ul li.global_navi-item-active a {
    color: white;
  }

  .global_navi ul li.global_navi-item-active a:hover{
    color: black;
  }

  .global_navi ul li.global_navi-item-active a div.radius-underline:after {
    background-color: white;
  }

  .global_navi ul li.global_navi-item-active a:hover div.radius-underline:after {
    background-color: black;
  }

  .nav_toggle {
    visibility: visible;
  }
  .sns_wrapper {
    display: flex;
  }

}

@media (max-width:768px) {
  /* start header */
  .englishName {
    width: 250px; 
    margin-bottom: 0px;
    font-size:28px;
  }
  .japaneseName {
    width: 250px; 
    font-size:15px;
    letter-spacing: 7px;
  }
  .contact_btn i{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .link_path {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }

  .global_navi ul li a{
    font-size: 18px;
    padding: 20px 20px;
  }

  .sns_wrapper {
    margin:0 auto;
    flex-direction: column; 
  }

  .sns_wrapper a{
    margin:10px auto;
  }

  /* end header */

  .wrapper_title{
    text-align: center;
    font-size:1.5em;
    margin-bottom: 3%;
    width: auto;
  }
  .intro_wrapper {
    margin:0 8%;
    margin-bottom: 50px;
  }
}