.wrapper {
  flex: 1;
  padding-top: 140px;
}
.wrapperTitle{
  margin-bottom: 3%;
}

h4 {
  width:100%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
  
.outline {
  margin: 60px;
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
}

.outline th {
  padding: 8px 25px;
  vertical-align: top;
  text-align: left;
}

.outline td {
  width: 600px;
  padding: 8px 25px;
  vertical-align: top;
  text-align: left;
}

.accesswrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 100px;
}

.imgImageWrapper {
  margin-top:60px;
  width: 60%;
}
.imgImageWrapper img {
  width:100%;
  height:auto;
  margin: 0 auto;
}

.accesswrapper ul {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 18px;
}

.mapwrapper {
  position: relative;
  width: 600px;
  height: 450px;
  padding: 0 0 0;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow:auto; 
  -webkit-overflow-scrolling:touch;
  border:2px solid #ccc; 
}

.mapwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin:0 auto;
  border:none;
  display:block;
}


@media (max-width:768px) {
  .imagelinkgadget {
    flex-direction: column;
  }
  .imagelinkgadget:nth-child(even) {
    flex-direction: column;
  }
  .imgContentWrapper {
    text-align: center;
    width: 80%;
    margin:0 auto;
  }
  h4 {
    text-align: center;
  }
  .imgDescription p {
    text-align: left;
  }
  .imgImageWrapper {
    width: 80%;
    margin-bottom: 20px;
  }

  

  h4 {
    font-size: 20px;
  }

  .outline {
    font-size: 16px;
  }

  .outline th {
    padding: 10px 25px;
  }

  .outline td {
    width: 350px;
    padding: 10px 25px;
  }

  .mapwrapper {
    width: 80%;
    height: 80%;
    padding: calc(450 / 650 * 100%) 0 0;
    margin-bottom: 20px;
  }

}