h4 {
  font-size: 16px;
  width:100%;
  max-width: 600px;
  margin-bottom: 10px;
}
.wrapper_title {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
  
.outline {
  width: 600px;
  margin-bottom:90px;
  margin-left:auto;
  margin-right:auto;
  font-size: 16px;
}

.outline th {
  padding: 5px 25px 5px 0;
  line-height: 1.8em;
  vertical-align: top;
  text-align: left;
}

.outline td {
  padding: 5px 25px 5px 0;
  line-height: 1.8em;
  vertical-align: top;
  text-align: left;
}

.zigyo th {
  padding:0px;
  width: 100%;
  display: block;
}
.zigyo td {
  padding: 0px 0px 18px;
  width: 600px;
  display: block;
}

.station {
  margin-bottom:30px;
  font-size: 16px;
  text-align: left;
}

.station th {
  padding: 4px 16px 4px 0;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

.station td {
  padding: 4px 16px 4px 0;
  vertical-align: top;
  text-align: left;
}

.access_wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.img_image_wrapper {
  margin-top:60px;
  text-align:center;
  width: 100%;
}
.img_image_wrapper img {
  max-width: 600px;
  width:100%;
  height:auto;
  margin: 0 auto;
}

.access {
  padding-top: 200px;
  margin-top: -200px;
}

.access_wrapper ul {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 16px;
}

.map_wrapper {
  position: relative;
  width: 600px;
  height: 450px;
  padding: 0 0 0;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow:auto; 
  -webkit-overflow-scrolling:touch;
  border:2px solid #ccc; 
}

.map_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin:0 auto;
  border:none;
  display:block;
}

.br::before {
	content: "\A" ;
	white-space: pre ;
}


@media screen and (max-width:768px) {

  .wrapper_title {
    max-width: 300px;
    text-align: left;
  }

  .img_description p {
    text-align: left;
  }
  .img_image_wrapper {
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .outline {
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:50px;
  }

  .outline th {
    padding:0px;
    width:100%;
    word-break : break-all;
    display:block;
  }

  .outline td {
    width:300px;
    word-wrap: break-word;
    display:block;
    padding: 0px 0px 18px;
  }

  .access {
    padding-top: 90px;
    margin-top: -90px;
  }

  .map_wrapper {
    width: 100%;
    height: 80%;
    padding: calc(450 / 650 * 100%) 0 0;
    margin-bottom: 20px;
  }

  .access_wrapper {
    max-width: 300px;
  }
  .station {
    font-size: 16px;
  }

  h4 {
    max-width: 300px;
    text-align: left;
  }

  .br::before {
    content: "" ;
    white-space: pre ;
  }
}

@media (orientation: landscape) and (max-width: 820px){
  .img_description p {
    text-align: left;
  }
  .img_image_wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .outline {
    font-size: 16px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:50px;
  }

  .outline th {
    width:100%;
    word-break : break-all;
    display:block;
  }

  .outline td {
    width:300px;
    word-wrap: break-word;
    display:block;
  }

  .map_wrapper {
    width: 100%;
    height: 80%;
    padding: calc(450 / 650 * 100%) 0 0;
    margin-bottom: 20px;
  }
  .station {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) { 

  .outline {
    font-size: 12px;
  }

  .outline th {
    padding: 0 0;
    vertical-align: top;
    text-align: left;
  }
  
  .outline td {
    line-height: 1.6em;
  }

  .station {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
    max-width: 300px;
    text-align: left;
  }
}
