body {
    margin: 0;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.979);
    color: black;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: 'Playfair Display',Gerogia,Times,'Times New Roman',serif;
  }
  
  header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color : white; 
    opacity: 0.8;
    z-index: 99;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 10px;
  }
    
  #global-navi {
    float:right;
  }
  header nav ul li{
    height: 50px;
    display:inline-block;
    font-size: 22px;
    margin: 25px 15px 15px 15px;
  }
  
  .englishname p{
    width: 30%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
    height: 30px;
    color: black;
    font-size:40px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    /*位置の設定 - 上下中央寄せ*/
    position: absolute;
    margin:0;
    margin-left: 30px;
    padding: 0px;
    top: 0;
    bottom: 0;
  }
  
  .japanesename p{
    width: 30%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
    height: 30px;
    font-size:20px;
    color: black;
    font-weight: bold;
    letter-spacing: 10px;
    /*位置の設定 - 上下中央寄せ*/
    position: absolute;
    margin:0;
    margin-top: 43px;
    margin-left: 60px;
    padding: 0px;
    top: 0;
    bottom: 0;
  }
  
  
  .wrapper {
    flex: 1;
    padding-top:150px;
  }

  h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .outline {
    margin: 30px;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
  }

  .outline th {
    padding: 20px 25px;
    border-bottom: 1px solid #979a9c;
    vertical-align: top;
    text-align: left;
  }

  .outline td {
    padding: 20px 25px;
    border-bottom: 1px solid #979a9c;
    vertical-align: top;
    text-align: left;
  }

  .accesswrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .mapandimg {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .mapwrapper {
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .imgImageWrapper {
    width: 40%;
    margin-right: 3%;
  }
  .accesswrapper img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .accesswrapper ul {
    list-style: disc;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  
  footer {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(41, 38, 58)
  }
  .foot li {
    padding: 5px;
  }
  a {
    color: #ab987a;
  }
  a:hover {
    color: #ab987a;
  }
  a:active {
    color: #ab987a;
  }
  
  @media (max-width:768px) {
    .imagelinkgadget {
      flex-direction: column;
    }
    .imagelinkgadget:nth-child(even) {
      flex-direction: column;
    }
    .imgContentWrapper {
      text-align: center;
      width: 80%;
      margin:0 auto;
    }
    h4 {
      text-align: center;
    }
    .imgDescription p {
      text-align: left;
    }
    .imgImageWrapper {
      width:100%;
      margin-left: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    .imgImageWrapper img {
      width:100%;
      height:auto;
    }
  }