h4 {
  width:100%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
  
.outline {
  margin-bottom:90px;
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
}

.outline th {
  padding: 5px 25px;
  line-height: 1.8em;
  vertical-align: top;
  text-align: left;
}

.outline td {
  padding: 5px 25px;
  line-height: 1.8em;
  vertical-align: top;
  text-align: left;
}

.zigyo td {
  width: 600px;

}

.station {
  margin-bottom:30px;
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
}

.station th {
  padding: 4px 8px;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

.station td {
  padding: 4px 8px;
  vertical-align: top;
  text-align: left;
}

.access_wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.img_image_wrapper {
  margin-top:60px;
  width: 60%;
}
.img_image_wrapper img {
  width:100%;
  height:auto;
  margin: 0 auto;
}

.access_wrapper ul {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 18px;
}

.map_wrapper {
  position: relative;
  width: 600px;
  height: 450px;
  padding: 0 0 0;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow:auto; 
  -webkit-overflow-scrolling:touch;
  border:2px solid #ccc; 
}

.map_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin:0 auto;
  border:none;
  display:block;
}


@media screen and (max-width:768px) {

  .img_description p {
    text-align: left;
  }
  .img_image_wrapper {
    width: 80%;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .outline {
    font-size: 16px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:50px;
  }

  .outline th {
    padding: 5px 0px;
    width:100%;
    word-break : break-all;
    display:block;
  }

  .outline td {
    width:300px;
    word-wrap: break-word;
    display:block;
    padding: 5px 0px;
  }

  .map_wrapper {
    width: 80%;
    height: 80%;
    padding: calc(450 / 650 * 100%) 0 0;
    margin-bottom: 20px;
  }
  .access_wrapper p {
    margin: 0 8%;
  }
  .station {
    font-size: 16px;
  }
}

@media (orientation: landscape) and (max-width: 820px){
  .img_description p {
    text-align: left;
  }
  .img_image_wrapper {
    width: 80%;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .outline {
    font-size: 16px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:50px;
  }

  .outline th {
    padding: 10px 0px;
    width:100%;
    word-break : break-all;
    display:block;
  }

  .outline td {
    width:300px;
    word-wrap: break-word;
    display:block;
    padding: 10px 0px;
  }

  .map_wrapper {
    width: 80%;
    height: 80%;
    padding: calc(450 / 650 * 100%) 0 0;
    margin-bottom: 20px;
  }
  .access_wrapper p {
    margin: 0 8%;
  }
  .station {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) { 

  .outline {
    font-size: 14px;
  }

  .outline th {
    padding: 0 0;
    vertical-align: top;
    text-align: left;
  }
  
  .outline td {
    line-height: 1.6em;
  }

  .station {
    font-size: 14px;
  }
}
