body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Playfair Display',Gerogia,Times,'Times New Roman',YuGothic,"Yu Gothic";
}

/* start header */
header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color : white; 
  opacity: 0.8;
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
}

.logo {
  color: black;
  font-weight: bold;
  text-align: center;
}

.englishname {
  width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 40px;
  margin:0;
  margin-bottom: 5px;
  font-size:40px;
  font-family: 'Dancing Script', cursive;
  /*位置の設定 - 上下中央寄せ*/
  position: static;
}

.japanesename {
  width: 300px; 
  height: 30px;
  margin:0;
  font-size:20px;
  letter-spacing: 10px;
  position: static;
}

.contactbtn{
  font-size:36px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}
.tel {
  font-size:22px;
}
.Linkpath {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-weight: bold;
  padding:0;
  Top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.global-navi {
  width: 100%;
  margin: auto;
  padding: 0px;
}
.global-navi ul{
  margin:0 auto;
  list-style:none;
  display:flex;
}
.global-navi ul li{
  display: flex;
  background-color: #1d1d1d;
  opacity: 0.9;
  text-align:center;
  align-items: stretch;
  width:20%;
  font-size: 20px;
}

.global-navi ul li:hover {
  background-color: white;
  color: #1d1d1d;
}
.global-navi a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.global-navi a:hover {
  color: black
}
.global-navi a:active {
  color: black;
}
/* end header */

/* start footer */

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
  background-color: black;
  color: white;
  margin-top: 10%;
}
.foot li {
  padding-bottom: 10px;
}
.foot a {
  color: white;
}
.foot a:hover {
  color: white
}
.foot a:active {
  color: white;
}
/* end footer */

  
.wrapper {
  flex: 1;
  padding-top:200px;
}

h4 {
  width:100%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #979a9c;
}
  
.outline {
  margin: 60px;
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
}

.outline th {
  padding: 8px 25px;
  vertical-align: top;
  text-align: left;
}

.outline td {
  width: 600px;
  padding: 8px 25px;
  vertical-align: top;
  text-align: left;
}

.accesswrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 100px;
}

.imgImageWrapper {
  margin-top:60px;
  width: 60%;
}
.imgImageWrapper img {
  width:100%;
  height:auto;
  margin: 0 auto;
}

.accesswrapper ul {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 18px;
}

.mapwrapper {
  position: relative;
  width: 600px;
  height: 450px;
  padding: 0 0 0;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow:auto; 
  -webkit-overflow-scrolling:touch;
  border:2px solid #ccc; 
}

.mapwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin:0 auto;
  border:none;
  display:block;
}



@media (max-width:768px) {
  .imagelinkgadget {
    flex-direction: column;
  }
  .imagelinkgadget:nth-child(even) {
    flex-direction: column;
  }
  .imgContentWrapper {
    text-align: center;
    width: 80%;
    margin:0 auto;
  }
  h4 {
    text-align: center;
  }
  .imgDescription p {
    text-align: left;
  }
  .imgImageWrapper {
    width: 80%;
    margin-bottom: 20px;
  }

  

  h4 {
    font-size: 20px;
  }

  .outline {
    font-size: 16px;
  }

  .outline th {
    padding: 10px 25px;
  }

  .outline td {
    width: 350px;
    padding: 10px 25px;
  }

  .mapwrapper {
    width: 80%;
    height: 80%;
    padding: calc(450 / 650 * 100%) 0 0;
    margin-bottom: 20px;
  }
  /* start header */
  .englishname {
    width: 250px; 
    height: 35px;
    font-size:34px;
  }
  .japanesename {
    width: 250px; 
    height: 20px;
    font-size:15px;
    letter-spacing: 7px;
  }
  .contactbtn{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .Linkpath {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }
  .global-navi ul{
    flex-direction: column; 
  }
  .global-navi ul li{
    background-color: #1d1d1d;
    width:100%;
    font-size: 20px;
    min-height: 56px;
  }
  .global-navi ul li a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  /* end header */
}