
.wrapper_title{
  margin-bottom: 3%;
}
  
h4 {
  width:100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #979a9c;
}

.required {
  color:red;
  font-size: 14px;
  padding-left:8px;
}
.err_msg {
  color:red;
  padding-top:6px;
  padding-left:4px;
  font-weight: 700;
  font-size: 16px;
}

.p_formArea {
  max-width:650px;
  margin: 0 auto;
}

.contact_form {
  margin:0 auto;
  padding:20px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 0.4em;
}

.contact_form_group {
  margin:0 auto;
  margin-bottom:20px;
}

.contact_form_group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding-bottom:10px;
}

input {
  width:100%;
  border: 1px solid #ccc;
  border-radius: 0.4em; 
  padding: 0.5em; 
}

textarea {
  resize: none;
  border: 1px solid #ccc; 
  border-radius: 0.4em;
  padding: 0.5em;
  width:100%;
  height: 120px;
  line-height: 1.2;
}

.radio_group label {
  display: block;
  margin: 5px 0;
  font-weight: normal;
  font-size: 14px;
}

.radio_group input {
  width: auto;
  margin-right:5px;
}


.contact_form__btn input {
  text-align: center;
  border: none;
  border-radius: 2rem;

  background-color: #C1AE8D;;
  padding: 1rem 1rem;
  font-weight: bold;
}


.intro_wrapper {
  margin-bottom: 5%;
}

.description {
  width: 80%;
  margin:0 auto;
}


@media screen and (max-width:768px) {
  .p_formArea {
    margin: 0 8%;
  }
}

@media screen and (max-width: 480px) { 

  .p_formArea {
    margin: 0 4%;
  }

  .contact_form_group label {
    font-size: 1em;
  }

  .radio_group label {
    font-size: 0.9em;
  }

  .err_msg {
    padding-left:0px;
    font-weight: 700;
    font-size: 0.9em;
  }
}