/* slickの使用のため */
*  {
  min-height: 0;
  min-width : 0;
}

body {
  margin: 0;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",YuGothic,"Yu Gothic";
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

/* Slick */
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.slick-slide img {
  width: 100vw;
  height: 100vh;
  object-fit:cover;
  object-position:50% 100%;
}
 
/* Slick */

/* start header */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: transparent ; 
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
  text-shadow:0 0 10px white;
}

.home_logo_wrapper{
  position: absolute;
  width: auto;
  background-image: url("../img/top/logoBackBular.png");
  background-size:100% 100%;
  margin-top:37vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding:3% 5%;
  text-shadow:none; 
}

.logo {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.home_logo_wrapper .japaneseName{
  height: auto;
  font-size: 3.25vw;
}

.home_logo_wrapper .englishName {
  margin-top: 1%;
  font-size: 2.25vw;
}

.global_navi_wrapper {
  position: absolute;
  height: 100vh;
  width:auto;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.global_navi {
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 0px solid #1d1d1d;
}
.global_navi ul {
  flex-direction: column;
}

.global_navi ul li{
  box-shadow: #1d1d1d;
  width:100%;

  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
}

.global_navi a {
  color: #1d1d1d;
  font-size: 24px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 20px 25px;
}

.sns_wrapper {
  margin:0 auto;
  display:flex;
  justify-content: center;
}

.sns_wrapper a{
  margin:0 8px;
}

.sns_wrapper i{
  font-size:30px;
  padding:8px;
  color: white;
  border-radius: 10px;
}
.fa-instagram {
  background-color:#e1306c;
  width:46px;
  text-align:center;
}

.fa-twitter {
  background-color:#55acee;
}

.fa-facebook {
  background-color:#315096;
}

.copyright_wrapper {
  width:100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

/* end header */


.wrapper {
  padding-top:0px;
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
}

.home-top-img-fix{

}

.main_gadget {
  justify-content: center;
  padding: 0px;
  width:100vw;
  height: 100vh;
  
}

.main_image_Wrapper {
  width: 100%;
  height: 100%;
  margin: 0%;
  position: relative;
}




@media (max-width:768px) {
  .main_gadget {
    width:100%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .main_image_wrapper {
    width:100%;
    margin:0 auto;
  }
  .intro_wrapper {
    width: 400px;
    margin: 0 auto;
    text-align:left;
    font-size: 16px;
    margin-bottom: 10%;
  }
  .img_image_wrapper {
    width:90%;
  }
  .img_image_wrapper img {
    width:100%;
    height:auto;
  }

  /* start header */
  .japaneseName {
    top:83%
  }

  .global_navi {
    position: static;
  }
  /* end header */

  .slick-dots {
    bottom: 20px;
  }

}