/* slickの使用のため */
*  {
  min-height: 0;
  min-width : 0;
}

body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Playfair Display',Gerogia,Times,'Times New Roman',YuGothic,"Yu Gothic";
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

/* Slick */
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  bottom: 100px;
}

.slick-dots li button:before {
  text-shadow:0 0 10px white;
}

.slick-prev,.slick-next {
    z-index: 98;
}

.slick-prev {
    left: 30px;
}
.slick-next {
    right: 30px;
}
/* Slick */

/* start header */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: transparent ; 
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
  text-shadow:0 0 10px white;
}

.logo {
  color: black;
  font-weight: bold;
  text-align: center;
}

.englishname {
  width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 40px;
  margin-bottom: 5px;
  font-size:40px;
  font-family: 'Dancing Script', cursive;
  /*位置の設定 - 上下中央寄せ*/
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.japanesename {
  width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 30px;
  font-size:20px;
  letter-spacing: 10px;
  /*位置の設定 - 上下中央寄せ*/
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contactbtn {
  font-size:36px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}
.tel {
  font-size:22px;
}
.Linkpath {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-weight: bold;
  padding:0;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.global-navi {
  width: 100%;
  margin: auto;
  padding: 0px;
  position: absolute;
  bottom: 0px;
}
.global-navi ul{
  margin:0 auto;
  list-style:none;
  display:flex;
}
.global-navi ul li{
  display: flex;
  background-color: #1d1d1d;
  opacity: 0.9;
  text-align:center;
  align-items: stretch;
  width:20%;
  font-size: 20px;
}

.global-navi ul li:hover {
  background-color: white;
  color: #1d1d1d;
}
.global-navi a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.global-navi a:hover {
  color: black
}
.global-navi a:active {
  color: black;
}
/* end header */

/* start footer */

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
  background-color: black;
  color: white;
  margin-top: 10%;
}
.foot li {
  padding-bottom: 10px;
}
.foot a {
  color: white;
}
.foot a:hover {
  color: white
}
.foot a:active {
  color: white;
}
/* end footer */

.maingadget {
  justify-content: center;
  padding: 0px;
}

.intro {
  padding-top: 5%;
  margin-bottom: 5%;
}

.introwrapper {
  width:570px;
  margin: 0 auto;
  text-align:left;
  font-size: 16px;
}

.Title {
 text-align:center;
 margin: 0 auto;
 padding-bottom: 20px;
 font-size: 24px;
}

.Description {
  width: 80%;
  margin:0 auto;
}

.mainImageWrapper {
  width: 100%;
  margin: 0%;
  position: relative;
}
.mainImageWrapper img {
  width: 100%;
  height:auto;
}

.imagelinkgadget {
  justify-content: center;
  padding: 0px;
  margin-bottom: 7%;
}

.imgImageWrapper {
  width: 50%;
  margin: 0 auto; 
  position: relative;
  box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.3),
              8px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.imgonlywrapper {
  width: 100%;
  overflow: hidden; 
}

.imgImageWrapper img {
  width: 100%;
  height:auto;
  transition:1.1s all;
}

.imgImageWrapper a:hover img {
  width: 100%;
  opacity: 0.7;
  transform:scale(1.1,1.1);
  transition:1.6s all;
}

.imgImageWrapper p{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: left;
  background-color: #ffffff;
  z-index: 95;
  opacity: 0.7;
  color: black;
  text-shadow:0 0 10px white;
  font-size: 26px;
  margin: 0;
  padding: 30px 20px;
}

.grayscale img{
  filter: grayscale(100%);
}


@media (max-width:768px) {
  .maingadget {
    width:100%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .mainImageWrapper {
    width:100%;
    margin:0 auto;
  }
  .introwrapper {
    width: 400px;
    margin: 0 auto;
    text-align:left;
    font-size: 16px;
    margin-bottom: 10%;
  }
  .imgImageWrapper {
    width:90%;
  }
  .imgImageWrapper img {
    width:100%;
    height:auto;
  }

  /* start header */
  .global-navi {
    position: static;
  }
  .global-navi ul{
    flex-direction: column; 
  }
  .global-navi ul li{
    background-color: #1d1d1d;
    width:100%;
    font-size: 20px;
    min-height: 56px;
  }

  .global-navi ul li a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }
  .englishname {
    font-size:34px;
  }
  .japanesename {
    font-size:15px;
    top:83%
  }
  .contactbtn i{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .Linkpath {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }
  /* end header */

  .slick-dots {
    bottom: 20px;
  }
  footer {
    margin-top: 20%;
  }
}