/* slickの使用のため */
*  {
  min-height: 0;
  min-width : 0;
}

body {
  margin: 0;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",YuGothic,"Yu Gothic";
}

.fadeInUp {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}

/* Slick */
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.slick-slide img {
  width: 100vw;
  height: 100vh;
  object-fit:cover;
  object-position:50% 100%;
}
 
/* Slick */

/* start header */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: transparent ; 
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
  text-shadow:0 0 10px white;
}

.homeLogoWrapper{
  position: absolute;
  width: auto;
  background-image: url("../img/top/logoBackBular.png");
  background-size:100% 100%;
  margin-top:37vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding:3% 5%;
  text-shadow:none; 
}

.logo {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.homeLogoWrapper .japanesename{
  height: auto;
  font-size: 3.25vw;
}

.homeLogoWrapper .englishname {
  margin-top: 1%;
  font-size: 2.25vw;
}


.global-navi {
  position: absolute;
  bottom: 0px;
}

.global-navi ul li{
  box-shadow: #1d1d1d;
  width:25%;
  background-color: rgba(255, 255, 255, 0.3); 
  text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
}

.global-navi a {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* end header */


.wrapper {
  padding-top:0px;
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
}

.home-top-img-fix{

}

.maingadget {
  justify-content: center;
  padding: 0px;
  width:100vw;
  height: 100vh;
  
}

.mainImageWrapper {
  width: 100%;
  height: 100%;
  margin: 0%;
  position: relative;
}




@media (max-width:768px) {
  .maingadget {
    width:100%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .mainImageWrapper {
    width:100%;
    margin:0 auto;
  }
  .introwrapper {
    width: 400px;
    margin: 0 auto;
    text-align:left;
    font-size: 16px;
    margin-bottom: 10%;
  }
  .imgImageWrapper {
    width:90%;
  }
  .imgImageWrapper img {
    width:100%;
    height:auto;
  }

  /* start header */
  .japanesename {
    top:83%
  }

  .global-navi {
    position: static;
  }
  /* end header */

  .slick-dots {
    bottom: 20px;
  }

}