body {
  margin: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.979);
  color: #242424;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Playfair Display',Gerogia,Times,'Times New Roman',YuGothic,"Yu Gothic";
}
  
header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color : white; 
  opacity: 0.8;
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 10px;
  text-shadow:0 0 10px white;
}


.logo {
  color: black;
  font-weight: bold;
  text-align: center;
}

.englishname {
  width: 300px; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 40px;
  margin:0;
  margin-bottom: 5px;
  font-size:40px;
  font-family: 'Dancing Script', cursive;
  /*位置の設定 - 上下中央寄せ*/
  position: static;
}

.japanesename {
  width: 300px; 
  height: 30px;
  margin:0;
  font-size:20px;
  letter-spacing: 10px;
  position: static;
}

.contactbtn{
  font-size:36px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 20px;
}
.tel {
  font-size:22px;
}
.Linkpath {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-weight: bold;
  padding:0;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  
  
.wrapper {
  flex: 1;
  padding-top:150px;
}

.intro {
  padding-top: 5%;
  margin-bottom: 5%;
}

.introwrapper {
  width:570px;
  margin: 0 auto;
  text-align:left;
  font-size: 15px;
}

.Description {
  width: 80%;
  margin:0 auto;
}

footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 25px 0;
  background-color: black;
  color: white;
  margin-top: 10%;
  position:absolute;
	bottom:0;
}
.foot li {
  padding-bottom: 10px;
}
.foot a {
  color: white;
}
.foot a:hover {
  color: white
}
.foot a:active {
  color: white;
}

@media (max-width:768px) {
  .englishname {
    width: 250px; 
    height: 35px;
    font-size:34px;
  }
  .japanesename {
    width: 250px; 
    height: 20px;
    font-size:15px;
    letter-spacing: 7px;
  }
  .contactbtn{
    font-size: 24px;
    top: 15px;
    right: 20px;
  }
  .tel {
    font-size:14px;
  }
  .Linkpath {
    text-align: center;
    margin: 0 auto;
    position: static;
    padding:5px;
    bottom: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }

  .introwrapper {
    width:400px;
    margin: 0 auto;
    text-align:left;
    font-size: 15px;
  }

}